body {

    background-color: beige;

}

#sece{
    position: relative;
    max-width: 60%;
    background-color: black;
    height: 100%;
}

h2 {
    color: brown;
    background-color: bisque;
    border: 6px dodgerblue groove;
    border-radius: 20px;
    position: absolute;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-top: 30px;
    position: absolute;
}

#yaz1 {
    top: 15%;
    position: absolute;
    background-color: bisque;
    position: fixed;
    font-size: larger;
    border: 5px dodgerblue groove;
    border-radius: 20px;
    padding: 2%;
}
