    .main-container {
        padding-top: 20vh;
        margin: 8%;
        display: grid;
        gap: 10%;
    }

    .box {
        background: rgb(248, 244, 224);
        border: 3px solid black;
        border-radius: 15px;
        padding: 1%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .box1 {
        background-image: url(/doc/cumhproj1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .box2 {
        padding-top: 8%;
        text-decoration: none;
        color: black;
    }
    .box3{
        align-content: center;
        max-height: fit-content;
    }

    #has2 {
        color: red;
    }

    #pir {
        margin-top: 13%;
        text-align: center;
        font-size: 3.8vw;
    }


    /* Mobil görünümü */
    @media (max-width: 767px) {
        .main-container {
            grid-template-columns: 1fr;
            grid-template-rows: 25vh 130vw 30vh;
            grid-template-areas:
                "box1"
                "box2"
                "box3";
        }
    }

    /*Tablet gör.*/
    @media (min-width:767px) and (max-width:1400px) {
        .main-container {
            grid-template-columns: 1.5fr 1fr;
            /* sol ve sağ sütun */
            grid-template-rows: 30vw 20vw;
            /* sol kutular için iki satır */
            grid-template-areas:
                "box1 box2"
                "box3 box2";
        }

        .box1 {
            grid-area: box1;
        }

        .box2 {
            grid-area: box2;
        }

        .box3 {
            grid-area: box3;
        }

        #cumhres {
            padding-top: 4%;
        }

        #has2 {
            font-size: 2.4vw;
        }

        .box2 {
            padding-top: 15%;
        }

        #pir {
            margin-top: 10%;
            text-align: center;
            font-size: 1.4vw;
        }
    }

    /* PC görünümü */
    @media (min-width: 1400px) {
        .main-container {
            grid-template-columns: 1.5fr 1fr;
            /* sol ve sağ sütun */
            grid-template-rows: 30vw 20vw;
            /* sol kutular için iki satır */
            grid-template-areas:
                "box1 box2"
                "box3 box2";
        }

        .box1 {
            grid-area: box1;
        }

        .box2 {
            grid-area: box2;
        }

        .box3 {
            grid-area: box3;
        }

        #cumhres {
            padding-top: 4%;
        }

        #has2 {
            font-size: 2.4vw;
        }

        .box2 {
            padding-top: 15%;
        }

        #pir {
            margin-top: 12%;
            text-align: center;
            font-size: 1.5vw;
        }
    }
