#geri {
    position: absolute;
    top: 5%;
    background-color:color-mix(in srgb, rgb(255, 0, 0) 20%, rgb(0, 68, 255) 20%);
    border: 8px bisque groove;
    border-radius: 20px;
    font-size: 25px;
    text-decoration: wavy   ;
    padding: 0.5%;
}